.MathJax {
    font-size: 5em !important;
}


#problem {
    padding-top: 20vh;
    height: 20vh;
}

#streak {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10vh;
    font-size: 30px;
    text-align: center;
}

#timer {
    width: 100%;
}

div {
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

progress {
    border: none;
    background: none;
}

progress::-moz-progress-bar {
    background: paleturquoise;
}

progress::-webkit-progress-value {
    background: paleturquoise;
}
progress::-webkit-progress-bar {
    background: none;
}

button {
    border: none;
    background: none;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    width: 100%;
    margin: 5px;
}

.correct {
    background: palegreen;
}

.wrong {
    background: lightcoral;
}
